.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 25px;
    background: #eff1fd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 0;
    background: #10d8c4 url("images/icon-slider.svg") no-repeat;
    background-position-x: 9px;
    background-position-y: 13px;
    box-shadow: 1px 10px 25px 4px #80fff3;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 25px;
    background: #10d8c4 url("images/icon-slider.svg") no-repeat;
    background-position-x: 9px;
    background-position-y: 13px;
    box-shadow: 1px 10px 25px 4px #80fff3;
    cursor: pointer;
}

.slider::-moz-range-progress {
    height: 8px;
    border-radius: 25px;
    background-color: #a4f3eb;
}

.slider::-ms-fill-lower {
    height: 8px;
    border-radius: 25px;
    background-color: #a4f3eb !important;
}

.slider-container-0::-webkit-slider-container {
    border-radius: 25px;
    background: linear-gradient(to left, #ecf0fb 100%, #a4f3eb 10%)
}

.slider-container-1::-webkit-slider-container {
    border-radius: 25px;
    background: linear-gradient(to left, #ecf0fb 75%, #a4f3eb 10%)
}

.slider-container-2::-webkit-slider-container {
    border-radius: 25px;
    background: linear-gradient(to left, #ecf0fb 50%, #a4f3eb 10%)
}

.slider-container-3::-webkit-slider-container {
    border-radius: 25px;
    background: linear-gradient(to left, #ecf0fb 25%, #a4f3eb 10%)
}

.slider-container-4::-webkit-slider-container {
    border-radius: 25px;
    background: linear-gradient(to left, #ecf0fb 0%, #a4f3eb 10%)
}
