.wrapper {
    z-index: 10;
}

.wrapper .wrapper__background {
    z-index: -1;
    width: 100%;
    height: 434px;
    position: absolute;
}

.wrapper .wrapper__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5% 20%;
}

.wrapper__content .content__header {
    margin-bottom: 85px;
}

.content__header .header__title {
    color: #293356;
    font-size: 28px;
    font-weight: bolder;
    margin: 15px 0;
}

.content__header .header__subtitle {
    color: #848ead;
    font-size: 15px;
}

.content__header .header__background {
    z-index: -1;
    width: 146px;
    position: absolute;
    margin-left: -75px;
    margin-top: -2em;
}

.wrapper__content .content__card {
    display: flex;
    justify-content: center;
}

.content__card .card {
    width: 540px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 8px 3px 25px 2px #e2e2e2;
}

.card .card__content {
    padding: 50px 35px 25px;
    border-bottom: 1px solid #ecf0fb;
}

.card:last-child {
    border-bottom: 0;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.row--space-between {
    justify-content: space-between;
}

.content__traffic {
    display: grid;
    align-items: center;
    grid-gap: 40px;
    grid-template-areas: "view price"
                         "slider slider";
}

.content__traffic div {
    margin-bottom: 45px;
}

.content__traffic .traffic__view {
    grid-area: view;
    justify-self: start;
    color: #848ead;
    font-size: 14px;
    font-weight: bolder;
    padding: 2px 0;
}

.content__traffic .traffic__price {
    grid-area: price;
    justify-self: end;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #848ead;
    font-size: 16px;
}

.content__traffic .traffic__slider {
    grid-area: slider;
}

.content__traffic .traffic__price b {
    color: #293356;
    font-size: 40px;
    font-weight: bolder;
    margin-right: 6px;
    letter-spacing: -1px;
}

.row--range-full-width input {
    width: 100%;
}

.row--align-end {
    justify-content: flex-end;
}

.row--period {
    padding: 30px 18px;
}

.badge {
    padding: 4.5px 8px;
    border-radius: 25px;
    color: #ff8d68;
    font-size: 10px;
    font-weight: bolder;
    background-color: #feede8;
    margin-right: 25px;
}

.badge::after {
    content: " discount";
}

.content__period {
    color: #848ead;
    font-weight: 500;
    font-size: 12px;
    margin: 0 15px;
}

.content__detail {
    display: grid;
    align-items: center;
    grid-template-areas: "advantages button";
}

.detail__list {
    grid-area: advantages;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 12px;
    color: #848ead;
}

.detail__list li {
    margin-bottom: 15px;
}

.detail__list li::before {
    content: "xxx";
    background-repeat: no-repeat;
    background-image: url("images/icon-check.svg");
    margin-right: 6px;
    color: transparent;
    vertical-align: sub;
}

.detail__button {
    grid-area: button;
    justify-self: end;
    width: 180px;
    height: 45px;
    border-radius: 25px;
    background-color: #293356;
    color: #becdff;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    cursor: pointer;
}

@media (max-width: 560px) {
    .wrapper .wrapper__content {
        padding: 20% 22% 15%;
    }

    .wrapper__content .header__background {
        width: 164px;
    }

    .content__traffic {
        grid-template-areas: "view"
                             "slider"
                             "price";
    }

    .content__traffic .traffic__view {
        justify-self: center;
    }

    .content__traffic .traffic__price {
        justify-self: center;
        margin-bottom: 35px;
        font-size: 20px;
    }

    .content__traffic div {
        margin-bottom: 0;
    }

    .wrapper__content .header__title {
        font-size: 22px;
        margin-left: -25%;
        white-space: nowrap;
    }

    .wrapper__content .content__header {
        margin-bottom: 85px;
    }

    .badge::after {
        display: none;
    }

    .badge::before {
        content: "-";
    }

    .content__period {
        white-space: nowrap;
    }

    .card__content {
        flex-direction: column;
    }

    .content__detail {
        grid-template-areas: "advantages"
                             "button";
        justify-content: center;
        grid-gap: 15px;
    }

    .detail__list li {
        text-align: center;
    }
}
